<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="753e116f-167d-445e-9530-1f34dcfefb32" Alias="Comment form">
  <Info>
    <Name>Comment form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit />
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows>
      <Workflow>
        <Id>6911cbba-94dc-4963-8901-4a2f3d2400aa</Id>
        <Name>Mailchimp</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>0deb3da1-422f-42ba-8b63-741a2be82f9c</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>0</SortOrder>
        <IsMandatory>false</IsMandatory>
        <Settings><![CDATA[{
  "EmailListConfiguration": "{\"listId\":\"4624f3670d\",\"apiKey\":\"\"}",
  "Email": "{email}",
  "Fields": "[{\"alias\":\"F_NAME\",\"value\":\"30dafcc3-4cf5-41d9-a2b9-5d56784cbc62\",\"staticValue\":\"\"}]",
  "Tags": "",
  "MarkAsPending": "False"
}]]></Settings>
        <Condition><![CDATA[null]]></Condition>
      </Workflow>
      <Workflow>
        <Id>546c0b42-2ffe-40f0-a087-f020a77ba768</Id>
        <Name>mailcoach</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>a4d5b1e8-2c3f-4a5b-8d9e-1f2a3b4c5d6e</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <IsMandatory>false</IsMandatory>
        <Settings><![CDATA[{
  "EmailListConfiguration": "{\"domain\":\"your-teams.mailcoach.app\",\"token\":\"\",\"listId\":\"55a7c930-a5f9-4ee5-8346-b4c6c84edb8e\"}",
  "Email": "{email}",
  "Fields": "[{\"alias\":\"firstname\",\"value\":\"30dafcc3-4cf5-41d9-a2b9-5d56784cbc62\",\"staticValue\":\"\"}]",
  "Tags": "",
  "SkipConfirmation": "False"
}]]></Settings>
        <Condition><![CDATA[null]]></Condition>
      </Workflow>
      <Workflow>
        <Id>e389fc61-527e-4b70-aeeb-96ede19b42c2</Id>
        <Name>Campaign Monitor</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>d3f8c9a4-7b2e-4f5a-9c3e-8a1b2c4d5e6f</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>2</SortOrder>
        <IsMandatory>false</IsMandatory>
        <Settings><![CDATA[{
  "EmailListConfiguration": "{\"apiKey\":\"\",\"clientId\":\"4c41afe8812520364e480dc82c35a374\",\"listId\":\"688e7f1eb9c9d9924b9f69bb5b898172\"}",
  "Email": "{email}",
  "SubscriberName": "{name}",
  "CustomFields": "[]",
  "ConsentToTrack": "{dataConsent}"
}]]></Settings>
        <Condition><![CDATA[{
  "id": "c7a9bc5d-ca96-4653-b8fe-60f091a51b45",
  "enabled": true,
  "actionType": 0,
  "logicType": 0,
  "rules": [
    {
      "id": "792b0717-f6aa-442f-bc9d-fe5b0755f202",
      "field": "0e2f4951-3710-4d23-ba9f-a003da34aa3e",
      "operator": 0,
      "value": "true"
    }
  ]
}]]></Condition>
      </Workflow>
    </Workflows>
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "ea30f058-532c-4949-b633-0a4976e38558",
        "page": "ae54aa2a-08a6-4859-92b4-489f8ef33c2f",
        "containers": [
          {
            "id": "15c577fd-4ceb-4379-8756-c8697aeafd95",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Name",
                "tooltip": null,
                "cssClass": null,
                "alias": "name",
                "id": "30dafcc3-4cf5-41d9-a2b9-5d56784cbc62",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "",
                  "MaximumLength": "",
                  "FieldType": "",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "cssClass": null,
                "alias": "email",
                "id": "6a7ca6b8-b5c2-44a3-aa11-bebc2c43a92f",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "^[_a-z0-9-]+(\\.[_a-z0-9-]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)*(\\.[a-z]{2,4})$",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "email",
                  "Placeholder": "",
                  "ShowLabel": "",
                  "MaximumLength": "",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Comment",
                "tooltip": null,
                "cssClass": null,
                "alias": "comment",
                "id": "d60f5233-1c71-4c37-837f-7666683831d6",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "",
                  "AutocompleteAttribute": "",
                  "NumberOfRows": "",
                  "MaximumLength": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "2b5980d3-e468-43a0-8b26-b1b0ef8e1bc3",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data",
                  "ShowLabel": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Subscribe",
                "tooltip": null,
                "cssClass": null,
                "alias": "subscribe",
                "id": "0e2f4951-3710-4d23-ba9f-a003da34aa3e",
                "fieldTypeId": "d5c0c390-ae9a-11de-a69e-666455d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": "",
                "condition": {
                  "id": "ff7a528a-9726-4386-b1d8-1a1763918d1b",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {
                  "Caption": "",
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "Your comment",
    "sortOrder": 0,
    "id": "ae54aa2a-08a6-4859-92b4-489f8ef33c2f",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>