<?xml version="1.0" encoding="utf-8"?>
<Content Key="939bea10-b8bf-4ae2-81d2-3e36e9307fae" Alias="test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2025-07-30T03:27:26</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d7c137b6-52f2-43da-9217-45853165cb0a">Test</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[753e116f-167d-445e-9530-1f34dcfefb32]]></Value>
    </form>
  </Properties>
</Content>