<?xml version="1.0" encoding="utf-8"?>
<DataType Key="532ccfdd-7759-4264-95e7-34a348081e87" Alias="Test - Form - Form Picker" Level="1">
  <Info>
    <Name>Test - Form - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>UmbracoForms.FormPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedFolders": null,
  "allowedForms": [
    "753e116f-167d-445e-9530-1f34dcfefb32"
  ]
}]]></Config>
</DataType>